body{

	background-repeat: no-repeat;
	background-color: pink;
}
a{

	text-decoration: none;
	color: blue;
}
a:hover{
	color:orange;
}
h1{
	font-family: Source serif pro light;
}
h2{
	font-family: source serif pro light;
}